


.header-container{
    
    margin-left: 40px;
    padding-left: 70px;
    padding-top: 70px;
}

.section-container {
    
    margin: 0px 150px;
    display: flex;
    align-items: flex-start;

}

ul{
    margin-bottom: 20px;
}

.titulo-lista{
    color: #222D52;
    font-family: 'Cormorant Infant', sans-serif;
    font-size: 20px;
    text-decoration: underline 1px;
    font-weight: 500;
    padding-bottom: 5px;
}

li {
    list-style: none;
    padding-bottom: 8px;
    font-size: 14px;
    font-family: 'Hind', sans-serif;
    color: #222D52;
    line-height: 18px;
}


.biography-container{
    width: 70%;
    padding-left: 10%;
    color: #222D52;
    font-family: 'Hind', sans-serif;
    font-size: 20px;
}

.biography-title {
    color: #344FAB;
    font-weight: 500;
}