
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-container{
    width: 90%;
}

.content-container {
    width: 90%;
    display: flex;
    gap: 10px;
}

.titles-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title-list{
    color: var(--secondary_color);
    font-family: 'Cormorant Infant', sans-serif;
    font-size: 1.25em;
    text-decoration: underline 1px;
    font-weight: 500;
    padding-bottom: 5px;
}

ul{
    margin-bottom: 20px;
}


li {
    list-style: none;
    padding-bottom: 0.5em;
    font-size: 0.87em;
    font-family: 'Hind', sans-serif;
    color: var(--secondary_color);
    line-height: 1.2em;
}

.biography-container{
    display: flex;
    flex-direction: column;
    width: 70%;
    color: var(--secondary_color);
    font-family: 'Hind', sans-serif;
    font-size: 1em;
}

.biography-title {
    color: var(--secondary_color);
    font-weight: 500;
}

p {
    padding-bottom: 1.5em;
}

span {
    font-weight: 500;
    text-decoration: none;
    background-color: rgba(212, 181, 137, 0.27);
}