
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
}

.header-container {
    width: 90%;
}

.content-container {
    width: 90%;
    display: flex;
    gap: 10px;
}

.titles-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title-list{
    color: var(--secondary_color);
    font-family: 'Cormorant Infant', sans-serif;
    font-size: 1.25em;
    text-decoration: underline 1px;
    font-weight: 500;
    padding-bottom: 5px;
}

.biography_element {
    margin-bottom: 20px;
}


.list-container {
    list-style: none;
    padding-bottom: 0.5em;
    font-size: 0.87em;
    font-family: 'Hind', sans-serif;
    color: var(--secondary_color);
    line-height: 1.2em;
}

.biography-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    color: var(--secondary_color);
    font-family: 'Hind', sans-serif;
    font-size: 1em;
}

.biography-title {
    color: var(--secondary_color);
    font-weight: 500;
}

.p {
    padding-bottom: 1.5em;
}

.text-image-container-biography{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.text-image-biography{
    font-weight: 500;
}

span {
    font-weight: 500;
    text-decoration: none;
    background-color: rgba(212, 181, 137, 0.27);
}

.image-biography {
    width: 90%;
    max-width: 1200px;
    align-self: center;
}

@media (min-width: 600px) and (max-width: 1195px) {
    
    .content-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        gap: 10px;

    }

    .titles-container {
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: left;
    }

    .biography-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: var(--secondary_color);
        font-family: 'Hind', sans-serif;
        font-size: 1em;
    }

}

@media (max-width: 600px) {
    .content-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-left: none;
    }

    .titles-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .biography-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: var(--secondary_color);
        font-family: 'Hind', sans-serif;
        font-size: 1em;
    }

}