
.header-container{
    margin-left: 2em;
    padding-left: 1.6em;
    padding-top: 2.5em;

}

.section-container {
    margin: -1.6em 4.3em 0 6.9em;
    display: flex;
    align-items: flex-start;
}

ul{
    margin-bottom: 20px;
}

.title-list{
    color: var(--secondary_color);
    font-family: 'Cormorant Infant', sans-serif;
    font-size: 1.25em;
    text-decoration: underline 1px;
    font-weight: 500;
    padding-bottom: 5px;
}

li {
    list-style: none;
    padding-bottom: 0.5em;
    font-size: 0.87em;
    font-family: 'Hind', sans-serif;
    color: var(--secondary_color);
    line-height: 1.2em;
}


.biography-container{
    width: 70%;
    padding-left: 10%;
    color: var(--secondary_color);
    font-family: 'Hind', sans-serif;
    font-size: 1em;
}

.biography-title {
    color: var(--secondary_color);
    font-weight: 500;
}

p {
    padding-bottom: 1.5em;
}

span {
    font-weight: 500;
    text-decoration: none;
    background-color: rgba(212, 181, 137, 0.27);
}