.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
}

.header-container {
    width: 90%;
}

.sections-container {
    width: 100%;
    padding-left: 4em;
    padding-right: 4em;
    display: flex;
    flex-direction: column;
    color: var(--text_content_color);
    font-family: 'Hind', sans-serif;
}


.section-cd {
    width: 100%;
    display: flex;
    margin-bottom: 3.2em;
}

.images-container {
    height: auto;
    width: 40%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

.CD-front-image-container, .CD-back-image-container, .CD-back-image-container-only {
    display: flex;
    width: 100%;
    height: auto;
    backface-visibility: hidden; 
    transition: all 0.5s ease-in-out;
    transform-origin: center;
    z-index: 1;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: rotateY(20deg);
    pointer-events: none;
}

.show {
    opacity: 1;
    transform: rotateY(0deg) scale(1);
    position: relative;
    pointer-events: auto;
}

.hide {
    opacity: 0;
    transform: rotateY(-20deg);
    pointer-events: none;
    position: absolute;
}


.CD-back-image-container-only {
    position: relative !important;
    opacity: 1 !important;
    transform: none !important;
}

.CD-image {
    object-fit: contain;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    max-width: 100%;
    max-height: 100%;
}

.toggle-image-container {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
    z-index: 5;
}

.toggle-image {
    width: 50px;
    position: absolute;
    top: 85%;
    left: 5%;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    transition: transform 0.2s ease;
}

.toggle-image:hover {
    transform: scale(1.1);
}

.content-container {
    margin-left: 3.2em;
}

.h3-container {
    border-top: var(--text_content_color) solid ;
    width: 100%;
    margin-right: 7em;
    color: var(--title_color);
}

.h3 {
    padding-top: 0.5em;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;
}

.author {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 20px;
}

.ol-container {
    padding-left: 15px;
    font-weight: 500;
}


.pieces-list {
    font-size: 14px;
    line-height: 1.9em;
}

.piece-status-incative {
    color: var(--nonImportant_text_color);
}

.piece-sections-container {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1300px) {
    .section-cd {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-bottom: 30px;
        border-bottom: var(--secondary_color) solid;
    }

    .content-container {
        width: 100%;
        margin-left: 0;
    }

    .h3-container {
        border: none;
        width: 100%;
        font-size: 14px;
        margin-right: 0;
    }

    .CD-front-image-container, .CD-back-image-container, .CD-back-image-container-only {
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        max-width: none;
    }

    .CD-front-image-container.show, .CD-back-image-container.show, .CD-back-image-container-only {
        position: relative;
        display: flex;
    }

    .CD-front-image-container.hide, .CD-back-image-container.hide {
        position: absolute;
        display: none;
    }

    .CD-image {
        object-fit: contain;
        width: 100%;
        height: auto;
        max-width: 450px;
        max-height: 450px;
    }

    .images-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        max-width: 450px;
        margin: 0 auto;
        min-height: 300px;
    }

    .toggle-image {
        width: 45px;
        position: absolute;
        top: 80%;
        right: 10%;
        filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    }

    .sections-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        font-family: 'Hind', sans-serif;
        padding: 0;
    }

    .pieces-list {
        font-size: 10px;
        line-height: 1.9em;
    }
}