.background-container {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.background-container img {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}