.carousel {
    position: absolute;
    bottom: 20%;
    right: 5%;
    font-family: 'Cormorant Infant', serif;
    color: white;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    z-index: 12;
    width: 80%;
    max-width: 400px;
}

/* Animaciones de Fade In / Fade Out */
.fade-in {
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: opacity 0.7s ease-in-out, transform 0.8s ease-in-out;
}

.fade-out {
    opacity: 0;
    transform: translateY(-30px) scale(0.95);
    transition: opacity 0.7s ease-in-out, transform 0.8s ease-in-out;
}
@keyframes fadeSlide {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.95);
    }
    20% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    80% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-30px) scale(0.95);
    }
}

.phrase {
    opacity: 0;
    animation: fadeSlide 6s ease-in-out infinite;
    display: inline-block; 
}

@media (max-width: 1054px) {
    .carousel {
        font-size: 20px;
        width: 300px;
        right: 5%;
    }

}

@media (min-width: 1800px) {
    .carousel {
        position: absolute;
        bottom: 20%;
        right: 10%;
        font-family: 'Cormorant Infant', serif;
        color: white;
        font-size: 36px;
        font-weight: 300;
        text-align: center;
        z-index: 12;
        width: 80%;
        max-width: 600px;
    }
}