.video-title-container {
    width: 600px;
    height: auto;
}

.video-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {

    .video-title-container {
    width: 400px;
    justify-content: center;
    }

    .video-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        width: 100%;
        height: auto;
        object-fit: contain;
    }
}