.home-main {
  width: 100%;
  height: 100vh;
  background-color: #F4EFDF;
}

.home-navbar {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  opacity: 1;
  animation: opacityZeroToOne 3s ease backwards 4s;
}

.home-intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-logo {
  opacity: 0;
  animation: fadeIn 2.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes animate {
  0% {
    transform: scale(0, 0.005);
  }
  50% {
    transform: scaleY(0.005);
  }
  100% {
    transform: scale(1, 1);
  }
}

.home-container-img {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transform: scale(0, 0);
  animation: animate 1s ease forwards 2s;
  overflow: hidden;
  z-index: 1;
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.home-content-animate {
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  opacity: 0;
  animation: fadeInText 2s ease forwards 3s;
}

.home-background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: opacityZeroToOne 2s ease forwards 3s;
}

@keyframes opacityZeroToOne {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
