.home-main {
  width: 100%;
  height: 100vh;
  background-color: #F4EFDF;
}

.home-navbar {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  opacity: 1;
  animation: opacityZeroToOne 3s ease backwards 4s;
}

.home-intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-logo {
  opacity: 0;
  animation: fadeIn 2.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes animate {
  0% {
    transform: scale(0, 0.005);
  }
  50% {
    transform: scaleY(0.005);
  }
  100% {
    transform: scale(1, 1);
  }
}

.home-container-img {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transform: scale(0, 0);
  animation: animate 1s ease forwards 2s;
  overflow: hidden;
  z-index: 1;
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.home-content-animate {
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  opacity: 0;
  animation: fadeInText 2s ease forwards 3s;
}


.home-background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: opacityZeroToOne 2s ease forwards 3s;
}

.right-piano-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: flex-end;
  gap: 250px;
  background-color: #0a0a0a;
  z-index: 10;
  opacity: 0;
  clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 50% 100%);
  animation: opacityZeroToOne 2s ease forwards 3s;
  padding-right: 120px;
  
}

.white-logo-img {
  width: 150px;
  height: auto;
  filter: contrast(0) brightness(0) invert(1);
  opacity: 1;
  z-index: 12;
  animation: opacityZeroToOne 2s ease forwards 3s;
}

.home-background-img-mobile {
  display: none;
}

.home-background-img-tablet {
  display: none;
}

@keyframes opacityZeroToOne {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 600px) and (max-width: 800px) {

  .home-background-img-tablet {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: opacityZeroToOne 2s ease forwards 3s;
  }

  .home-background-img-mobile {
    display: none;
  }
  
}

@media (max-width: 800px) {
  .right-piano-container {
    gap: 0;
    padding: 0;
    clip-path: polygon(0% 70%, 100% 60%, 100% 100%, 0% 100%);
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding-bottom: 145px;
  }

  .home-background-img {
    display: none;

  }

  .home-background-img-mobile {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: opacityZeroToOne 2s ease forwards 3s;
  }

  .white-logo-img {
    width: 80px;
  }

}

