.home-main {
  width: 100%;
  height: 100vh;
  background-color: #F4EFDF;
}

.home-navbar {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  opacity: 1;
  animation: opacityZeroToOne 3s ease backwards 4s;
}

.home-intro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-logo {
  opacity: 0;
  animation: fadeIn 2.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes animate {
  0% {
    transform: scale(0, 0.005);
  }
  50% {
    transform: scaleY(0.005);
  }
  100% {
    transform: scale(1, 1);
  }
}

.home-container-img {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transform: scale(0, 0);
  animation: animate 1s ease forwards 2s;
  overflow: hidden;
  z-index: 1;
}

@keyframes fadeInText {
  from {
    opacity: 0;
    transform: translateY(10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.home-content-animate {
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  opacity: 0;
  animation: fadeInText 2s ease forwards 3s;
}


.home-background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: opacityZeroToOne 2s ease forwards 3s;
}

.right-piano-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0a;
  z-index: 10;
  opacity: 0;
  /* Clip en diagonal (30% arriba y 50% abajo) */
  clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 50% 100%);
  animation: opacityZeroToOne 2s ease forwards 3s;
}

.white-logo-img {
  position: absolute;
  right: 80px;
  top: 200px;
  width: 150px;
  height: auto;
  z-index: 11;
  filter: contrast(0) brightness(0) invert(1);
  animation: opacityZeroToOne 2s ease forwards 3s;
}

.carousel-container {
  position: relative;  /* Lo posicionamos dentro del contenedor padre */
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding-bottom: 250px;
  padding-right: 150px;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 11;
}

@keyframes opacityZeroToOne {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.black-container-mobile {
  position: absolute;
  height: 0;
  width: 0;
}

@media (min-width: 801px) and (max-width: 1054px) {
    .white-logo-img {
      position: absolute;
      right: 5%;
      top: 200px;
      width: 100px;
      height: auto;
      z-index: 11;
      filter: contrast(0) brightness(0) invert(1);
      animation: opacityZeroToOne 2s ease forwards 3s;
    }
}

@media (max-width: 800px) {
  .right-piano-container{
    height: 0;
    width: 0;
  }

  .home-background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity: 0;
    animation: opacityZeroToOne 2s ease forwards 3s; */
  }

  .home-container-img {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    background-color: black;
    transform: scale(0, 0);
    animation: animate 1s ease forwards 2s;
    overflow: hidden;
    z-index: 1;
  }

    .white-logo-img {
    position: absolute;
    right: 5%;
    top: 200px;
    width: 100px;
    height: auto;
    z-index: 11;
    filter: contrast(0) brightness(0) invert(1);
    animation: opacityZeroToOne 2s ease forwards 3s;
  }

  .black-container-mobile{ 
    height: 100vh;
    width: 100%;
    margin-top: 80%;
    background-color: #0a0a0a;
    position: absolute;
    top: 0;
    z-index: 11;
  clip-path: polygon(0% 30%, 100% 20%, 100% 100%, 0% 100%);
    opacity: 0;
    animation: opacityZeroToOne 2s ease forwards 3s;
  }
}

