
main {
  width: 100%;
}

.container_header_img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
}

img.header-img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  object-fit: cover;
  overflow: hidden;

}

div.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-direction: column;
}
