.home-main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home-navbar {
  position: absolute;
  width: 100%;
  z-index: 100;
  animation: navbar-intro-animation 1.5s ease-in-out backwards 1.8s;
}

.home-container-img {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  filter: grayscale(100%) contrast(0.5) brightness(0.7);
  animation: opacity-zero-to-one  1s ease-in-out forwards 1.2s;
}

.right-piano-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 80px;
  background-color: var(--home_black_background_color);;
  z-index: 10;
  opacity: 0;
  clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 50% 100%);
  animation: opacity-zero-to-one  1s ease-in-out forwards 1.5s;
}

.carousel-container {
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 100px;
}

.white-logo-img {
  width: 150px;
  height: auto;
  opacity: 1;
}

.background-design-img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.home-background-img-mobile {
  display: none;
}

.home-background-img-tablet {
  display: none;
}

@keyframes navbar-intro-animation {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes opacity-zero-to-one {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 600px) and (max-width: 800px) {

  .home-background-img-tablet {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    filter: grayscale(100%) contrast(0.5) brightness(0.7);
    animation: opacity-zero-to-one  1s ease forwards 1s;
  }

  .home-background-img-mobile {
    display: none;
  }
  
}

@media (max-width: 800px) {

  .home-background-img {
    display: none;

  }

  .home-background-img-mobile {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    filter: grayscale(100%) contrast(0.5) brightness(0.7);
    animation: opacity-zero-to-one  1s ease forwards 1s;
  }

  .white-logo-img {
    width: 80px;
  }

  .right-piano-container {
    clip-path: polygon(0% 70%, 100% 60%, 100% 100%, 0% 100%);
    padding-bottom: 0;
  }

  .carousel-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    padding-bottom: 80px;
    padding-right: 0;
  }
}

