
.gallery-page-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery-header-container{
    width: 100%;
    justify-items: center;
    align-items: center;
}

.gallery-container{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.photos-container{
    height: 300px;
    width: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.gallery-photo{
    object-fit: contain;
}
