.nav-container {
    width: 100%;
    height: 6em;
    background-color: var(--primary_color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    position: relative;
    z-index: 1000;
}

.nav-container-transparent {
    width: 100%;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    position: relative;
    z-index: 1000;
}

.background-container {
    position: fixed;
    background-color: var(--primary_color);
    z-index: 100;
    width: 100%;
    height: 100vh;
    animation: fadeIn 1s ease-out;
}

.background-image-desktop {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    object-fit: cover;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media (max-width: 1195px) {
    .nav-container {
        padding: 0 20px;
    }

    .nav-container-transparent {
        padding: 0 20px;
    }
}


.nav-logo-container {
    position: relative;
    width: 155px;
    height: 6em;
    display: flex;
    align-items: center;
}

.nav-logo-container img {
    cursor: pointer;
}

.nav-logo {
    width: 100%;
    height: auto;
}

.nav-logo-transparent {
    width: 100%;
    height: auto;
    filter: contrast(1) brightness(0) invert(1);
}

.nav-controls-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.control-container {
    position: relative;
    width: 35px;
}

.control-container img {
    width: 100%;
    height: auto;
}

.control-container img:hover {
    cursor: pointer;
}