.nav-container {
    width: 100%;
    height: 6em;
    background-color: #F4EFDF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    position: relative;
}

.nav-logo-container {
    position: relative;
    width: 155px;
}

.nav-logo-container img{
    cursor: pointer;
}

.nav-logo {
    width: 100%;
    height: auto;
}

.nav-controls-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.control-container {
    position: relative;
    width: 35px;
}

.control-container img {
    width: 100%;
    height: auto;
}

.control-container img:hover {
    cursor: pointer;
}