.nav-container {
    width: 100%;
    height: 6em;
    background-color: #F4EFDF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    position: relative;
}

.nav-container-transparent {
    width: 100%;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    position: relative;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.nav-logo-container {
    position: relative;
    width: 155px;
    height: 6em;
    display: flex;
    align-items: center;
}

.nav-logo-container img {
    cursor: pointer;
}

.nav-logo {
    width: 100%;
    height: auto;
}

.nav-logo-transparent {
    width: 100%;
    height: auto;
    filter: contrast(1) brightness(0) invert(1);
}

.nav-controls-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.control-container {
    position: relative;
    width: 35px;
}

.control-container img {
    width: 100%;
    height: auto;
}

.control-container img:hover {
    cursor: pointer;
}

@media (max-width: 1195px) {
    .nav-container {
        padding: 0 20px;
    }

    .nav-container-transparent {
        padding: 0 20px;
    }
}
