.nav-container {
    width: 100%;
    height: 6em;
    background-color: #F4EFDF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    position: relative;
}

.nav-logo-container {
    position: relative;
}

.nav-logo {
    width: 100%;
    height: 100%;
}

.nav-controls-container {
    display: flex;
    align-items: center;
    gap: 30px;
}
