.nav-container {
    width: 100%;
    height: 6em;
    background-color: #F4EFDF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    position: relative;
}

.nav-logo-container {
    position: relative;
    /* Si volguessis modificar width o height del logo seria desde el container */
}

.nav-logo {
    width: 100%;
    height: 100%;
}

.nav-controls-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.control-container {
    /* Si volguessis modificar width o height del botó de on off seria desde el container */
}

/**
 *
 * Et deixo l'antiga versió que havies fet perque comparis, quan vagis a fer la PR elimina todo el bloque aquest!
 *
 */


/* .navbar-container{
    width: 100%;
    height: 6em;
    background-color: #F4EFDF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em;
    position: sticky;
    z-index: 11;
}

.namesImage-container {
    margin-left: 3em;
    display: flex; 
    align-items: center;
}

.namesImage {
    height: 2.5em;
    width: 9.5em;
}

.navbarRight-container{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
}

.musicOnOff-container {
    margin-right: 1em; 
    display: flex;
    align-items: center; 
}

.menu-container {
    margin-right: 1em; 
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
}
 */

