

body {
    background-color: var(--primary_color);
    height: 100vh;
}

.section-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-image-contact{
    margin: 12rem 2rem 5rem 1.25rem;
    max-width: 90%;
}

.image-contact {
    object-fit: cover;
}


.form-container {
    padding-bottom: 70px;
}

h1 {
    font-family: 'Cormorant Infant', serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 60.55px;
    color: var(--secondary_color);
    margin-bottom: 20px;
}

.contact-form-container{
    font-family: 'Hind', serif;
    font-size: 16px;
    font-weight: 400;
    /* Be careful with pixels*/
    line-height: 25.62px;
    display: flex; 
    flex-direction: column;
    justify-items: flex-start;
    max-width: 603px;
    color: var(--secondary_color);
}

.input-form, .contact-textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--secondary_color);
    background-color:var(--primary_color);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.contact-textarea {
    resize: none;
    max-height: 250px;
}

.terms-and-conditions-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-style {
    appearance: none;
    width: 15px;
    height:15px;
    background-color: var(--primary_color);
    border: 1px solid var(--secondary_color);
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.checkbox-style:checked {
    background-color: var(--secondary_color);
}

.checkbox-style:checked::before {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
}

input[type="text"]:focus, textarea:focus {
    background-color: var(--hover_primary_color);
    outline: none;
    border-radius: 4px;
}

span{
    text-decoration: underline 1px var(--secondary_color);
}

input[type="submit"]{
    background-color: var(--primary_color);
    font-weight: 600;
    font-size: 13px;
    color: var(--secondary_color);
    padding: 8px 17px;
    border: 1px solid var(--secondary_color);
    font-family: 'Hind', serif;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.1em;
    align-self: flex-end;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: var(--hover_primary_color);
    
}