.page-container {
    width: 100%;
    background-color: var(--primary_color);
}

.contact-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10em;
    padding-bottom: 100px;
}

.section-contact {
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: flex-end;
    width: 90%;
    margin-top: 2rem;
}

.container-image-contact {
    height: auto;
    width: 400px;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-contact {
    width: 400px;
    align-self: flex-end;
    justify-self: flex-end;
}

.form-container{
    width: 60%;
    max-width: 700px;
}

.contact-form-container {
    width: 100%;
    display: flex; 
    flex-direction: column;
    font-family: 'Hind', serif;
    font-size: 1em;
    font-weight: 400;
    color: var(--text_secondary_color);
}

.input-container {
    width: 100%;
}

.input-form, .contact-textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid var(--text_secondary_color);
    color: var(----text_content_color);
    background: none;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    font-family: "Hind", sans-serif;
    font-size: 15px;
}

.input-form:focus, .contact-textarea:focus {
    background-color: var(--light_shadow_color);
    outline: none;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.input-form::placeholder, .contact-textarea::placeholder {
    color: var(--text_secondary_color);
    font-weight: 400;
    font-size: 16px;
}

.contact-textarea {
    resize: none;
    max-height: 15.5em;
}

.terms-and-conditions-container {
    display: flex;
    align-items: center;
    gap: 0.7em;
    font-size: 0.8em;
}

.error-message {
    font-size: 14px;
    color: var(--error_message_color);
    min-height: 25px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.checkbox-style {
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    background-color: var(--primary_color);
    border: 1px solid var(--secondary_color);
    border-radius: 0.2em;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.checkbox-style:checked {
    background-color: var(--secondary_color);
}

.checkbox-style:checked::before {
    content: '✔';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--primary_color);
    font-size: 0.8em;
}


label > span{
    text-decoration: underline 1px var(--secondary_color);
}

input[type="submit"]{
    background-color: var(--secondary_color);
    color: var(--primary_color);
    border: 1px solid var(--primary_color);
    border-radius: 0.5em;
    width: 100%;
    font-weight: 500;
    font-size: 1em;
    padding: 0.4em 1em;
    font-family: 'Hind', serif;
    cursor: pointer;
    margin-top: 1.2em;
    transition: all .5s ease-in-out;
}

input[type="submit"]:hover {
    background-color: var(--text_secondary_color);
}

@media (max-width: 760px) {
    
    .form-container {
        width: 100%;
    }

    .section-contact {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 60px;

        width: 90%;
        margin-top: 30px;
    }

    .container-image-contact {
        height: 400px;
        width: 400px;
        object-fit: cover;
        overflow: hidden;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .image-contact {
        height: 600px;
        align-self: center;
        justify-self: center;
    }
}