.audio-content-container {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.audio-content-container {
    border-bottom: 1px solid var(--hover_primary_color);
    width: 100%;
    gap: 30px;
}

.audio-section-container, .audio-section-line-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    cursor: pointer;
}

.audio-section-line-container:hover {
    background-color: var(--light_shadow_color);
    transition: background-color 0.3s ease-in-out;
}

.audio-section-line-container:hover .audio-name-author-container p {
    color: var(--secondary_color);
    transition: color 0.3s ease-in-out;
}

.audio-section-line-container {
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
}

.audio-section-line-container:hover .audio-toggle-pause-button {
    opacity: 1;
    pointer-events: auto;
}

.audio-right-section-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 35%;
}

.audio-pause-button {
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.audio-toggle-pause-button {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.audio-toggle-pause-button-mobile {
    display: none;
}

.audio-number {
    text-align: center;
    font-size: 20px;
}

.audio-number.hide {
    opacity: 0;
}

.audio-name-author-container {
    display: flex;
    flex-direction: column;
    color: var(--text_content_color);
}

.audio-author {
    font-weight: 600;
}

.audio-slider-timer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    gap: 3px;
    width: 60%;
}

.audio-slider-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* MOBILE SECTION */
@media (max-width: 943px) {

    .audio-toggle-pause-button {
        display: none;
    }

    .audio-slider-timer-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 0;
        height: 100%;
    }

    .audio-slider-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    } 

    .audio-toggle-pause-button-mobile {
        display: flex;
        width: 20px;
        height: 20px;
        position: relative;
    }

    .audio-toggle-pause-button-mobile img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: -4px;
    }

    .audio-pause-button {
        width: 100%;
        height: 100%;
    }

    .audio-name-author-container {
        font-size: 12px;
    }
}

/* AUDIO SLIDER DESIGN */

.audio-slider-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio-slider {
    width: 100%;
    cursor: pointer;
    --slider-background: var(--slider_background_color);
    --seek-before-color: var(--slider_background_color); /*grey*/
    --seek-before-width: 50%;
    appearance: none;
    position: relative;
    height: 4px;
    border-radius: 4px;
    outline: none;
    background: var(--slider-background);
}

/* Chrome, Safari, Opera, and Edge Chromium*/
.audio-slider::-webkit-slider-runnable-track {
    height: 4px;
    background: var(--slider-background);
    border-radius: 4px;
    position: relative;
}

/* Firefox */
.audio-slider::-moz-range-track {
    height: 4px;
    background: var(--slider-background);
    border-radius: 4px;
    position: relative;
}

.audio-slider::before {
    content: '';
    background-color: var(--seek-before-color);/*crec que no fa res*/
    border-radius: 4px;
    width: var(--secondary_color); /*crec que no fa res*/
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.audio-slider::-webkit-slider-thumb { /*Bolita*/
    border: none;
    appearance: none;
    height: 9px;
    width: 9px;
    background-color: var(--seek-before-color);
    border-radius: 50%;
    margin-top: -2.5px;

}

.audio-timer-duration-container {
    display: flex;
    font-size: 10px;
    color: var(--slider_background_color);
    justify-content: space-between;
    align-items: center;
}

.audio-section-container.active .audio-name-author-container p,
.audio-section-line-container.active  .audio-name-author-container p {
    color: var(--secondary_color);
}

.audio-slider.active::-webkit-slider-thumb, .audio-slider.active::before {
    background-color: var(--secondary_color);
    color: var(--secondary_color);
}
