.repertoire-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-repertoire-container {
    width: 90%;
}

.repertoire-content-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

@media (max-width: 968px) {
    .repertoire-content-container {
        display: none;
        
    }
}

@media (max-width: 968px) {
    .repertoire-content-container {
        display: none;
        
    }
}

.left-repertoire-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.repertoire-menu-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.repertoire-menu {
    font-family: "Cormorant Infant", "Sans Serif";
    color: var(--secondary_color);
    font-weight: 600;
    font-size: 24px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.repertoire-menu::after {
    content: ""; 
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0%; 
    height: 2px;
    background-color: var(--secondary_color); 
    transition: width 0.3s ease-in-out;
}

.repertoire-menu:hover {
    color: var(--secondary_color);
}

.repertoire-menu:hover::after {
    width: 100%;
}

.repertoire-menu-active::after {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%; 
    height: 2px;
    background-color: var(--secondary_color); 
}

.image-repertorie-conatiner {
    object-fit: contain;
    overflow: hidden;
}

.image-repertorie {
    height: 400px;
    width: auto;
}

.right-repertorie-conatiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.repertories-conatiner {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.repertorie-title-conatiner {
    font-family: "Hind", "Sans Serif";
    font-size: 24px;
    color: var(--secondary_color); 
    font-weight: 500;
}

.piece-author-content-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5px;
}

.piece-author-conatiner{
    display: flex;
    width: 100%;
    align-items:end;
    justify-content: space-between;
    font-family: "Hind", "Sans Serif";
    font-size: 18px;
    color: rgba(34, 45, 82, 1); 
    font-weight: 400;
    width: 100%;
}

.piece-author-conatiner p:nth-child(1) {
    max-width: 90%;
}

.piece-author-conatiner p:nth-child(3) {
    max-width: 20%;
    white-space: nowrap;
}

.line-repertoire {
    flex-grow: 1;
    margin: 0 10px;
    border-bottom: 2px dashed var(--hover_primary_color);
    text-overflow: hidden;
}

.image-repertorie-conatiner-mobile {
    height: 0;
    width: 0;
    overflow: hidden;
    position: absolute;
}

@media (min-width: 931px) and (max-width: 1510px) {
    .piece-author-4-content-container{
        gap: 10px;
    }

    .piece-author-4-container {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 930px) {

    .image-repertorie-conatiner {
    height: 0px;
    overflow: hidden;
    }


    .repertoire-content-container {
    flex-direction: column;
    gap: 0;
    width: 100%;
    padding: 0 20px;
    }

    .left-repertoire-container {
    gap: 30px;
    }

    .image-repertorie {
    height: 300px;
    width: 100%;
    object-fit: cover;
    }

    .repertoire-menu {
    font-size: 24px;
    }

    .repertorie-title-conatiner {
    font-size: 20px;
    }

    .piece-author-content-conatiner {
    gap: 30px;
    }

    .piece-author-conatiner {
    flex-direction: column;
    align-items: flex-start;
    align-items:baseline;
    justify-content: space-between;
    font-size: 18px;
    }

    .line-repertoire {
    flex-grow: 1;
    margin: 0 10px;
    border-bottom: 2px dashed var(--hover_primary_color);
    text-overflow: hidden;
    }

    .header-repertoire-container {
    width: 100%;
    padding: 0 20px;
    }

    .right-repertorie-conatiner {
    gap: 30px;
    }

    .image-repertorie-conatiner-mobile {
    height: 400px;
    width: auto;
    object-fit: contain;
    overflow: hidden;
    margin-top: 20px;
    position:relative;
    }

    .image-repertorie-mobile{
    height: 400px;
    width: auto;
    }
}

/* Mobile */

@media (min-width: 968px) {
    .repertoire-content-container-mobile {
        display: none;
    }
}

@media (max-width: 968px) {
    .repertoire-content-container-mobile {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .repertoire-menu {
        font-size: 20px;
    }

    .piece-author-conatiner{
        font-size: 14px;
    } 

    .image-repertorie-conatiner {
        margin-top: 100px;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
    }
}

.repertoire-list-container-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.repertoire-list-element-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
  
.fade-in.visible {
    opacity: 1;
}