.header-container {
    margin-left: 4em;
}

.sections-container {
    width: 100%;
    padding-left: 4em;
    padding-right: 4em;
    display: flex;
    flex-direction: column;
    color: #344FAB;
    font-family: 'Hind', sans-serif;
}

.section-cd {
    width: 100%;
    display: flex;
    margin-bottom: 3.2em;
}

.images-container {
    height: 500px;
    width: 500px;
    overflow: hidden;
}

.CD-front-image-container, .CD-back-image-container {
    display: flex;
    align-items: flex-start;
    height: 0;
    width: 500px;
    backface-visibility: hidden; 
    transition: all 0.5s ease-in-out;
    transform-origin: center top;
    z-index: 1;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.CD-back-image-container-only {
    display: flex;
    align-items: flex-start;
    height: auto;
    width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
 }


.show {
    height: auto;
    transform: rotateY(0deg) scale(1) translateX(0);
    opacity: 1;
}

.hide {
    height: 0;
    transform: rotateY(-90deg) scale(1) translateX(-50px);
    opacity: 0;
}

.CD-image {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.toggle-image-container {
    position: absolute;
    cursor: pointer;
    z-index: 5;
}

.toggle-image {
    width: 50px;
    position: absolute;
    top: 430px;
    left: 20px
}
.content-container {
    margin-left: 3.2em;
}

.h3-container {
    border-top: #344FAB solid ;
    width: 100%;
    margin-right: 7em;
}

h3 {
    padding-top: 0.5em;
    font-size: 1.5em;
    font-weight: 500;
    text-transform: uppercase;

}

.author {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 20px;
}

.ol-container {
    padding-left: 15px;
    font-weight: 500;
}

.extraMusic-listItem {
    font-weight:400;
    line-height: 1.5em;
    padding-left: 15px;
    margin-top: -5px;
}

.CD3-orderedList {
    display: flex;
    padding-left: 15px;
    justify-content: space-between;
    max-width: 40em;
    line-height: 1.9em;
    font-weight: 500;
}

.CD4-subtitle {
    margin-top: 1.7em;
}

.pieces-list {
    font-size: 14px;
    line-height: 1.9em;
}

.piece-status-incative {
    color: #cdcdcde2;
}