@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');


.menu-container {
    width: 100%;
    height: calc(100vh - 6em);
    position: absolute;
    top: 6em;
    left: 0;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-dropdown {
    padding-top: 30px;
    display: none; /*Oculto por defecto*/
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #F4EFDF;
    border: 1px solid #ddd;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.menu-dropdown.show {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.menu-dropdown li {
    padding: 10px;
    font-size: 48px;
    text-align: center;
    font-family: "Hind", sans-serif;
    font-weight: 200;
    line-height: 1.2;
    border-bottom: 0.5px solid rgba(220, 218, 212, 1);
    transition: 0.3s ease;
}

.menu-dropdown li:hover {
    background-color: rgba(212, 181, 137, 0.27);
    font-family: 'Cormorant Infant', serif;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.1em;
}

a {
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #344FAB;
}

.menu-closed, .menu-open {
    border: none;
    background-color: transparent;
}