/* Menu Button */
.menu-closed, .menu-open {
    width: 68px;
    height: 14px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.hamburger-icon {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.hamburger-icon:hover .bar {
    background: rgba(212, 181, 137, 0.27);
}

.bar {
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    background: #344FAB;
    transition: all 0.3s ease;
}

.bar-transparent {
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    background: white;
    transition: all 0.3s ease;
}

.bar:nth-child(1) {
    top: 0;
}

.bar:nth-child(2) {
    bottom: 0;
}

.menu-open .bar:nth-child(1) {
    transform: translateY(5px) rotate(10deg);
}

.menu-open .bar:nth-child(2) {
    transform: translateY(-7px) rotate(-10deg);
}

.bar-transparent:nth-child(1) {
    top: 0;
}

.bar-transparent:nth-child(2) {
    bottom: 0;
}

.menu-open .bar-transparent:nth-child(1) {
    transform: translateY(5px) rotate(10deg);
}

.menu-open .bar-transparent:nth-child(2) {
    transform: translateY(-7px) rotate(-10deg);
}


/* Menu */
.menu-container {
    width: 100%;
    max-height: 0;
    height: calc(100vh - 6em);
    position: absolute;
    top: 6em;
    left: 0;
    z-index: 1000;
    background-color: #F4EFDF;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.open {
    max-height: calc(100vh - 6em);
    opacity: 1;
}

.menu-dropdown {
    display: none; 
    flex-direction: column;
    width: 100%;
    height: 80%;
    border-top: 1px solid #ddd;
    list-style: none;
}

.menu-dropdown.show {
    display: flex;
    animation: slideIn 0.7s ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateY(-300px);
        opacity: 0;
        height: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        height: 80%;
    }
}

.menu-item {
    margin: 0 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    text-align: center;
    font-family: "Hind", sans-serif;
    font-weight: 300;
    transition: all 0.3s;
    height: calc(100% / 7);
    border-radius: 8px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.menu-item:hover {
    background-color: rgba(212, 181, 137, 0.27);
    font-family: 'Cormorant Infant', serif;
    font-weight: 600;
    margin: 4px 0;
}

.page-selected {
    background-color: rgba(212, 181, 137, 0.27);
    font-family: 'Cormorant Infant', serif;
    font-weight: 600;
    margin: 0px 90px;
}

.menu-link {
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 45px;
    color: #344FAB;
}

.menu-subtitle {
    font-size: 18px;
    font-family: 'Cormorant Infant', serif;
    font-weight: 300;
    color: #344FAB;
}

.menu-footer {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease 0.2s;
}

.menu-container.open .menu-footer {
    opacity: 1;
    transform: translateY(0);
}

.hide {
    display: none;
}

.music-control-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.language {
    background: none;
    border: none;
    text-transform: uppercase;
    color: #BCC3D8;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

.language:hover {
    color: #344FAB;
}

.language-selected {
    color: #344FAB;
}

.separator {
    border: 0.5px solid #BCC3D8;
    width: 20px;
    height: 20px;
    margin: 0 6px;
}

@media (max-width: 1195px) {
    .menu-item {
        margin: 0 5px;
        font-size: 32px;
    }

    .menu-footer {
        padding: 0 20px;
    } 
}
