# .github/workflows/build.yml
name: build

on:
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: Install dependencies
        run: |
          cd api
          npm install
          cd ../web
          npm install

      - name: Build API
        working-directory: ./api
        run: npm run build

      - name: Build Web
        working-directory: ./web
        run: npm run build