# .github/workflows/deploy.yml
name: Deploy

on:
  push:
    branches:
      - develop

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Build project
        run: echo "Build project"